.header-container {
    background-color: black;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .logo-container {
        display: flex;
        font-family: spacex-bold;
        cursor: pointer;

        .logo-main {
            font-size: 60px;
            transform: scaleY(0.6);
        }

        .logo-second {
            font-size: 25px;
            font-family: spacex-regular;
            display: flex;
            align-items: flex-end;
            margin: 0 0 3px 12px;
        }
    }

    .menu-container {
        a {
            margin-left: 24px;
            cursor: pointer;
        }
    }
}

@media (max-width: 950px) {
    .logo-main {
        font-size: 40px !important;
    }

    .logo-second {
        font-size: 18px !important;
        margin: 0 0 -2px 8px !important;
    }
}

/* Underline Link Animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}