.launches-container {
    height: 100vh;
    background-image: url('/assets/img/negative-space-spacex-night-rocket-launch.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;

    .content-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 150px;
        color: white;

        h2 {
            font-size: 48px;
            margin: 0;
        }

        span {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .btn {
            font-size: 20px;
            color: white;
            font-family: spacex-regular;
            text-decoration: none;
            border: 2px solid white;
            padding: 10px 15px;
            width: fit-content;
            cursor: pointer;
        }
    }
}